.blockerDetail {
  display: flex;
  height: auto;
  width: screen;
  justify-content: center;
  align-items: center;
  width: 80%;
  box-sizing: border-box;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.blockerDetail .title {
  margin-top: 1rem;
  font-weight: 600;
  align-self: flex-start;
  font-size: 29px;
  margin-bottom: 10px;
}

.stage_content_3 {
  width: 80%;
  box-sizing: border-box;
  padding: 25px 40px 25px 25px;
  display: flex;
  flex-direction: column;
}

.stage_content_3 .title {
  margin: 0;
  font-weight: 600;
  font-size: 29px;
  margin-bottom: 30px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 1fr;
  gap: 1.5rem 0.5rem;
  /* padding: 2rem; */
  text-align: left;
  justify-items: center;
}
.card .title {
  font-size: 1.2rem;
  font-weight: 400;
}

.class {
  width: 90%;
  justify-self: center;
  border: 1px solid #00a2ed;
  padding: 0.7rem;
  border-radius: 0.5rem;
 
}

.class .title {
  color: white;
  background: #00a2ed;
  padding: 10px;
  border-radius: 0.5rem;
}

.method {
  width: 90%;
  justify-self: center;
  border: 1px solid #00a2ed;
  padding: 0.7rem;
  border-radius: 0.5rem;
  color: #00a2ed;
}

.method .title {
  color: white;
  background: #00a2ed;
  padding: 10px;
  border-radius: 0.5rem;
}

.data {
  color: black;
  align-self: start;
  font-size: 16px;
}

.desc {
  width: 90%;
  justify-self: center;
  border: 1px solid #00a2ed;
  padding: 0.7rem;
  border-radius: 0.5rem;
  color: #00a2ed;
}

.desc .title {
  color: white;
  background: #00a2ed;
  padding: 10px;
  border-radius: 0.5rem;
}

.sugg {
  width: 90%;
  justify-self: center;
  border: 1px solid #00a2ed;
  padding: 0.7rem;
  border-radius: 0.5rem;
  color: #00a2ed;
}

.sugg .title {
  color: white;
  background: #00a2ed;
  padding: 10px;
  border-radius: 0.5rem;
}

.btn_2 {
  width: 100px;
  height: 35px;
  margin-top: 30%;
  margin-top: auto;
  margin-left: auto;
  background-color: #00a2ed;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  border: none;
}
