.homepage_body {
  height: 100%;
  width: 100%;
}

.homepage_body .content {
  background-color: #f1f1f1;
  width: 75%;
  height: 68%;
  margin: 80px auto;
  display: flex;
}

.content .sidebar {
  height: 100%;
  width: 30%;
  box-sizing: border-box;
  padding: 25px 0 15px 15px;
}

.sidebar .sidebar_item {
  height: 28px;
  font-size: 14px;
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-left: 3px solid transparent;
  padding-left: 8px;
  color: rgb(110, 110, 110);
  font-weight: 500;
}

.content .btn_grp {
  height: 35px;
  margin-top: auto;
  margin-left: auto;
  display: flex;
}

.btn_grp .btn1 {
  border: solid 1px black;
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  box-sizing: border-box;
  margin-right: 10px;
}

.btn_grp .btn2 {
  background-color: #00a2ed;
  color: white;
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
}

.content .sing_btn {
  width: 100px;
  height: 35px;
  background-color: red;
  margin-top: auto;
  margin-left: auto;
  background-color: #00a2ed;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
}

.content .stage_content_1 {
  width: 70%;
  box-sizing: border-box;
  padding: 25px 60px 25px 25px;
  display: flex;
  flex-direction: column;
}

.stage_content_1 .title {
  margin: 0;
  font-weight: 600;
  font-size: 29px;
  margin-bottom: 75px;
}

.stage_content_1 .file_selector {
  height: 37px;
  width: 100%;
  border: 1px solid darkgrey;
  display: flex;
}

/* .file_selector .select_btn {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  border-right: 1px solid darkgrey;
}

.select_btn:hover {
  background-color: lightgrey;
}

.select_btn .text {
  margin-right: 5px;
  color: #00a2ed;
}

.select_btn img {
  height: 65%;
}

.file_selector .file_path {
  width: 74%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 3%;
  font-size: 14px;
}

.file_selector .remove_btn {
  height: 100%;
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove_btn img {
  height: 42%;
  cursor: pointer;
} */

.file_selector .input_tag {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-right: 1px solid darkgrey;
  color: #00a2ed;
}

.file_selector .text_input {
  height: 100%;
  width: 80%;
  display: flex;
}

.text_input input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0 20px 0px 20px;
  width: 94%;
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
}

.text_input input:focus {
  outline: none;
}

.text_input .remove_btn {
  height: 100%;
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove_btn img {
  height: 42%;
  cursor: pointer;
}

.content .stage_content_2 {
  width: 70%;
  box-sizing: border-box;
  padding: 25px 60px 25px 25px;
  display: flex;
  flex-direction: column;
}

.stage_content_2 .title {
  margin: 0;
  font-weight: 600;
  font-size: 29px;
  margin-bottom: 10px;
}

.stage_content_2 .description {
  margin-bottom: 75px;
  color: rgb(60, 60, 60);
}

.content .stage_content_3 {
  width: 70%;
  box-sizing: border-box;
  padding: 25px 60px 25px 25px;
  display: flex;
  flex-direction: column;
}

.stage_content_3 .title {
  margin: 0;
  font-weight: 600;
  font-size: 29px;
  margin-bottom: 30px;
}

.stage_content_3 .result_content {
  height: 330px;
  width: 100%;
  overflow-y: auto;
}

.stage_content_3 .loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.result_content .result_tile {
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 15px;
}

.result_tile hr {
  margin-top: 30px;
}

.result_tile .class_name {
  font-size: 20px;
  font-weight: 600;
}

.result_tile .method {
  margin-top: 20px;
}

.method .method_name {
  margin-bottom: 10px;
}

.method .why_blocker {
  font-size: 14px;
  list-style-position: inside;
  margin-bottom: 10px;
}

.why_blocker ul {
  margin: 0;
}

.method .suggestion {
  font-size: 14px;
  list-style-position: inside;
  margin-bottom: 30px;
}

.suggestion ul {
  margin: 0;
}
