.home {
  display: flex;
  height: auto;
  width: screen;
  justify-content: center;
  margin-top: 10%;
}

.charts {
  display: grid;
  grid-template-columns: 12rem 36rem;
  grid-template-rows: 12rem 24rem;
  justify-content: center;
  color: white;
  gap: 2rem 5rem;
  width: 100%;
  height: 100%;
}

.blockerCount {
  grid-row: 1;
  justify-self: end;
  align-self: end;
}

.vulCount {
  grid-row: 2;
  justify-self: end;
  align-self: start;
}

.barChart {
  grid-row: 1/2;
  height: 20vh;
  width: 20vh;
  margin-top: 2.5rem;
}
