.csvLink {
  text-decoration: none;
  outline: none;
  height: 5vh;
}
.button {
  background-color: #00a2ed;
  color: white;
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}
