.homepage_body {
  height: 100%;
  width: 100%;
}

.homepage_body .content {
  background-color: white;
  border:  1px solid #00a2ed;
  border-radius: 0.5rem;
  width: 90%;
  height: 75%;
  margin: 25px auto;
  display: flex;
  padding: 1rem;
}

.content .sidebar {
  height: 100%;
  width: 20%;
  box-sizing: border-box;
  padding: 25px 0 15px 15px;
}

.sidebar .sidebar_item {
  height: 28px;
  font-size: 16px;
  margin-bottom: 15px;
  width: 100%;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-left: 3px solid transparent;
  padding-left: 8px;
  color: black;
  font-weight: 500;
}

.btn_grp {
  height: 35px;
  margin-top: auto;
  margin-left: auto;
  display: flex;
}

.btn_grp .btn1 {
  border: solid 1px #00a2ed;
  background: #00a2ed;
  color: white;
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
  margin-right: 10px;
}

.btn_grp .btn2 {
  background-color: #00a2ed;
  color: white;
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}

.content .sing_btn {
  width: 100px;
  height: 35px;
  background-color: #00a2ed;
  margin-top: auto;
  margin-left: auto;
  background-color: #00a2ed;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}

.content .stage_content_1 {
  width: 80%;
  box-sizing: border-box;
  padding: 25px 40px 25px 25px;
  display: flex;
  flex-direction: column;
}

.stage_content_1 .title {
  margin: 0;
  font-weight: 600;
  font-size: 29px;
  margin-bottom: 75px;
}

.stage_content_1 .file_selector {
  height: 37px;
  width: 100%;
  border: 1px solid #00a2ed;
  border-radius: 0.5rem;
  display: flex;
}

.file_selector .input_tag {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-right: 1px solid #00a2ed;
  color: #00a2ed;
}

.file_selector .text_input {
  height: 100%;
  width: 80%;
  display: flex;
}

.text_input input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0 20px 0px 20px;
  width: 94%;
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
}

.text_input input:focus {
  outline: none;
}

.text_input .remove_btn {
  height: 100%;
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove_btn img {
  height: 42%;
  cursor: pointer;
}

.content .stage_content_2 {
  width: 80%;
  box-sizing: border-box;
  padding: 25px 40px 25px 25px;
  display: flex;
  flex-direction: column;
}

.stage_content_2 .title {
  margin: 0;
  font-weight: 600;
  font-size: 29px;
  margin-bottom: 10px;
}

.stage_content_2 .description {
  margin-bottom: 75px;
  color: rgb(60, 60, 60);
}

 .stage_content_3 {
  width: 80%;
  box-sizing: border-box;
  padding: 25px 40px 25px 25px;
  display: flex;
  flex-direction: column;
}

.stage_content_3 .title {
  margin: 0;
  font-weight: 600;
  font-size: 29px;
  margin-bottom: 30px;
}

.stage_content_3 .result_content {
  height: 75%;
  width: 100%;
  overflow-y: auto;
}

.stage_content_3 .loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.result_content table {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
}

.result_content thead {
  height: 40px;
  background-color: #00a2ed;
  color: white;
  top: 0;
  position: sticky;
}

.result_content thead th:nth-child(1),
.result_content thead th:nth-child(2) {
  width: 18%;
  font-weight: 600;
}

.result_content thead th:nth-child(3) {
  width: 10%;
  font-weight: 600;
}

.result_content thead th:nth-child(4),
.result_content thead th:nth-child(5) {
  width: 27%;
  font-weight: 600;
}

.result_content tbody td:nth-child(1),
.result_content tbody td:nth-child(2) {
  width: 18%;
  border: 1px solid #00a2ed;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  height: 30px;
}

.result_content tbody td:nth-child(3) {
  width: 10%;
  border: 1px solid #00a2ed;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  height: 30px;
}

.result_content tbody td:nth-child(4),
.result_content tbody td:nth-child(5) {
  width: 27%;
  border: 1px solid #00a2ed;
  font-size: 16px;
  padding: 10px;
  height: 30px;
}

/* .result_content .result_tile {
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 15px;
}

.result_tile hr {
  margin-top: 30px;
}

.result_tile .class_name {
  font-size: 20px;
  font-weight: 600;
}

.result_tile .method {
  margin-top: 20px;
}

.method .method_name {
  margin-bottom: 10px;
}

.method .why_blocker {
  font-size: 16px;
  list-style-position: inside;
  margin-bottom: 10px;
}

.why_blocker ul {
  margin: 0;
}

.method .suggestion {
  font-size: 16px;
  list-style-position: inside;
  margin-bottom: 30px;
}

.suggestion ul {
  margin: 0;
} */
